.overlayDiv {
    position: relative;
}
#check {
    position: absolute;
    z-index: 500;
}

.modalStyle1 {
    border: none!important;
    text-align: center!important;
    margin: 10px;
}
.resButton {
    margin: 10px;
    width: 50%;
}

.goldCoin{
    position: relative;
    text-align: center;
    font-weight: bold;
    color: black;
}

.price{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

