#imageIcon {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-25%); /* tiré de la moitié de sa propre hauteur */
}
#inputPseudo {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    width: 100%;
}
#validateButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    width: 50%;
}
#formControlPseudo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#iconBack {
    margin-left: 10px;
    margin-top: 10px;
    color: white;
    position: absolute;
}
#bienvenue {
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    color: white;
    margin-bottom: 40px;
}
#subDiv {
    margin: auto;
}