.cardInfos{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(50, 50, 50, 0.7);
}

.treeInfos{
    position: absolute;
    width: 100vw;
    height: 250vh;
    background: rgba(50, 50, 50, 0.7);
}

.cardInfosContent{
    position: relative;
    height: 110%;
}

.cardInfosBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
}

.cardInfosCard{
    height: 100%;
    border-radius: 6%;
}

.cardInfosClose{
    position: absolute;
    right: 2px;
    top: 10px;
}
.cardInfosClose1{
    position: absolute;
    right: 10px;
    top: 10px;
}

.cardInfosInfo{
    position: absolute;
    left: 60px;
    top: 10px;
}

.cardInfosButtons{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding-bottom: 15px;
}

.cardInfosButton{
    margin: 15px;
    width: 75px;
    height: 75px;
    border-radius: 50%!important;
    background: #7c7c7c !important;
    border: 0!important;
}

.cardInfosCheck{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cardInfosTree {
    position: absolute;
    right: 5px;
    top: 90px;
}
.cardInfosHelp {
    position: absolute;
    right: 5px;
    top: 50px;
}
.treeDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
}

.infosDialog {
    border-style: solid;
    border-color: transparent;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 20%;
    margin-right: auto!important;
    margin-left: auto!important;
    width: 60%!important;
}

.infosLabel {
    margin-top: 5px!important;
    background-color: transparent!important;
    color: #282c34!important;
    text-wrap: normal;
    white-space: pre-wrap!important;
    font-weight: bold;
    font-size: 120%;
}
.backWhite {
    background-color: white!important;
    border: none !important;
}