#container {
    height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#handDiv {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.card {
    display: block;
    object-fit: contain;
    height: 100%;
    width: 120%;
    margin-right: 5px;
}
.labels {
    color: white;
    font-size: 200%!important;
}

#labelsDiv {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.label1 {
    margin-bottom: 15%;
}

.modal-dialog {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%) !important;
}
#modalCard {
    object-fit: contain;
    margin-right: 5px;
    display: block;
    width: 100%;
}

#modal-footer1 {
    display: flex;
    flex-direction: row;
}

#buttonsDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 9px;
    width: 50%;
}
.transparent {
    background: transparent!important;
}

.modalStyle {
    border-style: none!important;
}

.modalTitle {
    font-weight: bold;
}
.orImg {
  height: 3vh;
}
#checkIcon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.modalImgDiv {
    width: 45%;
    position: relative;
}
#building {
    margin-left: 5px;
}
#mainTradingDiv {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.tradingDiv {
    display: flex;
    flex-direction: row;
}

.modalLabel {
    background: transparent!important;
    color: #282c34!important;
}
#labelsTradingDiv {
    display: flex;
    flex-direction: column;
}

.tradingModalLabel1 {
    text-align: right!important;
}