.gameScreen{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: black;
}

.actionModal{
    position: relative!important;
}

.actionTextZone{
    margin-top: 8px;
    margin-bottom: 8px;
}

.actionCard{
    margin: 5px;
}

.actionPlayer{
    font-weight: bold;
}