.playerZone{
    width: 100%;
    height: 100%;
    color: white;
    padding: 5px;
    position: relative;
}

.playerCardMin{
    margin: 2px;
}

.playerBoard{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}

.playerBoardContent{
    position: relative;
}

.playedResources{
    height: 48px;
    --background: brown;
    text-align: left;
}

.playedEconomics{
    height: 48px;
    --background: yellow;
    text-align: left;
}

.playedSciences{
    --background: green;
    text-align: left;
}

.playedProducts{
    height: 48px;
    width: 326px;
    --background: gray;
    text-align: left;
    position: absolute;
    left: 118px;
    z-index: 2;
}

.playedGuilds{
    width: 96px;
    --background: purple;
    text-align: right;
    position: absolute;
    right: 0px;
    z-index: 2;
}

.playedBuildings{
    width: 444px;
    --background: blue;
    text-align: left;
    position: absolute;
    z-index: 2;
    top: 48px;
}

.wonders{
    width: 100%;
    text-align: left;
}

.wonders div{
    width: 143px;
    height: 40px;
    text-align: center;
    display: inline-block;
    margin-left: 19px;
    vertical-align: bottom;
}

.wonders div:first-child{
    margin-left: 35px;
}

.wonders div:last-child{
    margin-left: 17px;
}

.wonders img{
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.playerBoardImage{
    position: relative;
}

.boardZone{
    position: relative;
}

.playerBoardContentRight{
    width: 96px;
}

.playedMilitarys{
    width: 96px;
    --background: red;
    position: absolute;
    top: 96px;
    text-align: left;
}

.playerZoneWarPoint{
    height: 45px;
    margin: 2px;
}

.playerZoneWarPoints{
    text-align: right;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
}

.playerZoneStatsRight{
    position: absolute;
    right: 5px;
    top: 5px;
}

.playerZoneStatsLeft{
    position: absolute;
    left: 5px;
    top: 5px;
}

.playerZoneStatsRight *, .playerZoneStatsLeft *{
    display: inline-block;
}

.playerMoney{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 18pt;
    font-weight: bold;
    vertical-align: middle;
    position: relative;
    background-image: url("../../assets/silver_empty.png");
    background-position: center;
    background-size: contain;
}

.playerMoney *{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 9px;
}