#container {
    height: 100%;
    position: absolute;
    width: 100%;
}
#subContainer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}
#clockIcon {
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5%;
}
.waitLabel {
    font-size: 30px!important;
    margin-top: 10px;
}
.tableImg {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}